body{
	margin: 10px;
	font-family: sans-serif;
	width: max-width;
	text-align: center;
	background-color: #007b7b;
}

.container2{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "header header header"
						 "perfil editar-cuerpo editar-cuerpo";
}

.perfil{
	margin-top: 100px;
}

.editar-cuerpo{
	text-align: left;
}

input[type="file"]{
	margin-left: 5px;
}